In [2]:
import pandas as pd
import numpy as np

pd.set_option("display.precision", 2)

In [3]:
# Importing the df
df = pd.read_pickle('Data/formattedDF.pkl')

In [4]:
df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,PassengerGGGG,PassengerPP,CabinDeck,CabinNum,CabinSide
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001,01,B,0,P
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002,01,F,0,S
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,01,A,0,S
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003,02,A,0,S
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004,01,F,1,S

In [6]:
df.dtypes

HomePlanet        object
CryoSleep           bool
Destination       object
Age              float64
VIP                 bool
RoomService      float64
FoodCourt        float64
ShoppingMall     float64
Spa              float64
VRDeck           float64
Name              object
Transported         bool
PassengerGGGG     object
PassengerPP       object
CabinDeck         object
CabinNum          object
CabinSide         object
dtype: object

### Value Counts

In [8]:
df.HomePlanet.value_counts(normalize=True)

Earth     0.54
Europa    0.25
Mars      0.21
Name: HomePlanet, dtype: float64

In [9]:
df.CryoSleep.value_counts(normalize=True)

False    0.63
True     0.37
Name: CryoSleep, dtype: float64

In [10]:
df.Destination.value_counts(normalize=True)

TRAPPIST-1e      0.69
55 Cancri e      0.21
PSO J318.5-22    0.09
Name: Destination, dtype: float64

In [15]:
df.VIP.value_counts(normalize=True)

False    0.95
True     0.05
Name: VIP, dtype: float64

In [18]:
df.PassengerGGGG.nunique()

6217

In [19]:
df.PassengerPP.value_counts()

01    6217
02    1412
03     571
04     231
05     128
06      75
07      46
08      13
Name: PassengerPP, dtype: int64

In [21]:
df.CabinDeck.value_counts()

F      2794
G      2559
E       876
B       779
C       747
D       478
A       256
nan     199
T         5
Name: CabinDeck, dtype: int64

In [23]:
df.CabinNum.nunique()

1817

In [24]:
df.CabinSide.value_counts()

S    4288
P    4206
Name: CabinSide, dtype: int64